    <!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/dist/css/bootstrap.css">
    <script src="jquery.js"></script>
    <script src="model.js"></script>
    <title>Login Page</title>
</head>
<style type="text/css">
.center {
    position: absolute;
    margin-top: -100px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 220px;
}
</style>
<body style="background-image: url('login.jpg');">
    <div class="center col-md-5">
        <legend style="font-size: 30px; color: white;">Inventory v.1.0</legend>
        <div id="result"></div>
        <form id="form-login">
            <div class="form-group row">
                <label for="username" style="color: white;">Username:</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group row">
                <label for="pasword" style="color: white;">Password:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button id="ajax_id" type="button" class="btn btn-default">Login</button>
        </form>
        Belum punya Akun? Daftar <a href="/register">disini<a>
    </div>
</body>
</html>