<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/dist/css/bootstrap.css">
    <title>Login Page</title>
</head>

<body>
    <div class="col-md-4">
        <h1>Login Form</h1>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="firstname">First Naem:</label>
                <input type="firstname" class="form-control" name="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="lastname" class="form-control" name="lastname">
            </div>
            <div class="form-group">
                <label for="pasword">Password:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        Belum punya Akun? Daftar <a href="/register">disini<a>
    </div>
</body>
</html>